<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>To Do List</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome-all.css}" rel="stylesheet">
    <link th:href="@{/css/swiper.css}" rel="stylesheet">
    <link th:href="@{/css/magnific-popup.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">

    <style type="text/css">
        .color{
           background-color:#ffffcc;
        }
    </style>
</head>
<body class="color">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a class="p-2 text-dark"
                                                      style="text-decoration:none;"
                                                      th:href="@{/}">TO DO LIST</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" style="text-decoration:none;" href="#contact"
        >Contact</a>
        <a class="p-2 text-dark" style="text-decoration:none;" href="about" >
            About</a>
        <a class="p-2 text-dark" style="text-decoration:none;" href="#info">Info</a>
        <a class="p-2 text-dark" style="text-decoration:none;" href="blog" >
            Blog</a>
        <a class="p-2 text-dark" style="text-decoration:none;" href="pricing"
        >Advertise</a>
    </nav>
    <a class="btn btn-outline-primary" style="text-decoration:none;" href="#"
       th:href="@{/login}">Log In</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="confirmation justify-content-center align-items-center">
                <div>
                    <h3 style="color:blue"> Signup Confirmation </h3>
                </div>
                <div>
                    <p> Thank you for signing up, you can login now with your credentials. </p>
                </div>
                <div>
                    <p>Go to <a href="login" th:href="@{/}">Login Page</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer class="footer color">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <span class="text-muted">Copyright © 2021</span>
            </div>
        </div>
    </div>
</footer>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</html>